*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
header{
    position: sticky;
    top: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(44, 44, 44);
    border-bottom: 0.1rem solid green;
    height: 10vh;
    align-items: center;
}  
.logo{
    height: 7vh;
    width: 3.5vw;
    margin: 1rem;
    border-radius: 50%;
    box-shadow: 0.5rem 0.5rem 0.5rem green;

}
.flex-container > ul{
    list-style-type: none;
}
li{
    display: inline-block;
    margin: 1.5rem;
    font-size: 1.5rem;
}
li > a{
    text-decoration: none;
    color: white;

}
li > a:hover{
    color: gold;
}
.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
        
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
  
}

.slider img {
	width: 35%
}



@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
    25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left:  -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
h2{
    text-align: center;
    height: 20vh;
}
p{
    text-align-last: left;
    font-size: 2rem;

.footer{
    height: 10vh;
    width: 100%;
    background-color: rgb(44, 44, 44);
    bottom: 0;
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-top: 0.1rem solid green;
}
.footer p{
    color: white;
}
.flex-container-sec{
    display: flex;
    outline: 0.2rem solid black;
    height: 80vh;
    width: 100%;
    border-radius: 5%;
}
.s1{
    background-color: rgb(155, 209, 85);
    display: flex;
    justify-content: space-between;
}
.s2{
    background-color: rgb(5, 209, 85);
}
.s3{
    background-color: rgb(173, 45, 45);
}
.s4{
    background-color: rgb(247, 199, 67);
}
.s5{
    background-color: rgb(80, 241, 247);
}
#slogan{
    width:50px ;
    height:50px ;
}
s#imagen{
    width:50px ;
    height:50px ;
    margin: 50px;
    padding: 10px;
}
