                    * {
                        margin: 0;
                        padding: 0;
                    }
                    
                    html {
                        font-size: 62.5%;
                    }
                    
                    header {
                        position: sticky;
                        top: 0;
                    }
                    
                    body {
                        background-image: url(https://images.unsplash.com/photo-1600585152220-90363fe7e115?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMTc3M3wwfDF8c2VhcmNofDV8fGtpdGNoZW58ZW58MHx8fHwxNjQ1MTIyODAy&ixlib=rb-1.2.1&q=80&w=2000);
                        background-repeat: no-repeat;
                        background-attachment: fixed;
                        background-size: cover;
                        background-color: #FFFFFF;
                    }
                    
                    .nav {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        background-color: rgb(75, 76, 82);
                        border-bottom: 0.1rem solid rgb(192, 216, 106);
                        height: 10vh;
                        align-items: center;
                    }
                    
                    .logo {
                        height: 9vh;
                        width: 6.0vw;
                        margin: 1rem;
                        border-radius: 45%;
                        box-shadow: 0.5rem 0.5rem 0.5rem rgb(177, 160, 196);
                    }
                    
                    .flex-container>ul {
                        list-style-type: none;
                    }
                    
                    li {
                        display: inline-block;
                        margin: 1.5rem;
                        font-size: 1.5rem;
                    }
                    
                    .contenido1 {
                        color: white;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        font-size: 20px;
                        display: inline;
                        text-align: justify;
                    }
                    
                    .contenido2 {
                        color: white;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        font-size: 15px;
                        text-align: justify;
                    }
                    
                    .titulo {
                        color: white;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        font-size: 50px;
                    }
                    
                    li>a {
                        text-decoration: none;
                        color: white;
                    }
                    
                    #sec-home {
                        margin: 390px;
                    }
                    
                    li>a:hover {
                        color: gold;
                    }
                    
                    .footer {
                        height: 10vh;
                        width: 100%;
                        background-color: rgb(75, 76, 82);
                        bottom: 0;
                        display: flex;
                        position: sticky;
                        justify-content: center;
                        align-items: center;
                        font-size: 1.5rem;
                        border-top: 0.1rem solid rgb(192, 216, 106);
                    }
                    
                    .footer p {
                        color: white;
                    }
                    
                    .flex-container-sec {
                        display: flex;
                        height: 100vh;
                        width: 100%;
                    }
                    
                    .s2 {
                        background-color: rgba(215, 204, 200);
                    }
                    
                    .s3 {
                        background-color: rgb(255, 171, 145);
                    }
                    
                    .s4 {
                        background-color: rgb(255, 224, 130);
                    }
                    
                    .s5 {
                        background-color: rgb(178, 235, 242);
                    }