* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

header {
    position: sticky;
    top: 0;
}

body {
    background-image: url(https://images.unsplash.com/photo-1600585152220-90363fe7e115?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMTc3M3wwfDF8c2VhcmNofDV8fGtpdGNoZW58ZW58MHx8fHwxNjQ1MTIyODAy&ixlib=rb-1.2.1&q=80&w=2000);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #FFFFFF;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(44, 44, 44);
    border-bottom: 0.1rem solid rgba(240, 216, 5, 0.856);
    height: 10vh;
    align-items: center;
}

.logo {
    height: 9vh;
    width: 6.0vw;
    margin: 1rem;
    border-radius: 45%;
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(223, 192, 57);
}

.flex-container>ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 1.5rem;
    font-size: 1.5rem;
}

li>a {
    text-decoration: none;
    color: white;
}

li>a:hover {
    color: gold;
}

.footer {
    height: 10vh;
    width: 100%;
    background-color: rgb(44, 44, 44);
    bottom: 0;
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-top: 0.1rem solid rgb(240, 216, 0, 856);
}

.footer p {
    color: white;
}

.flex-container-sec {
    display: flex;
    height: 100vh;
    width: 100%;
}

.s2 {
    background-color: rgba(215, 204, 200);
}

.s3 {
    background-color: rgb(255, 171, 145);
}

.s4 {
    background-color: rgb(255, 224, 130);
}

.s5 {
    background-color: rgb(178, 235, 242);
}